name: Deploy demo

# When someone modifies files inside the `demo` directory
on:
  push:
    branches:
      - main
    paths:
      - 'demo/**'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/upload-pages-artifact@v3
        with:
          path: demo # Publish to GH Pages using the `demo` folder

      - uses: actions/deploy-pages@v4
